In [1]:
# import needed labraries 
import requests
import lxml.html as lh
import pandas as pd

In [2]:
# Define the URL of which we need to scrape the data from
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
# define the dataframe columns
column_names = []

# instantiate the dataframe
toronto = pd.DataFrame(columns=column_names)

# Append table date into the time frame toronto

toronto=toronto.append(pd.read_html(url,attrs={'class': 'wikitable'}))
toronto.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [4]:
toronto.rename(columns={'Postal code':'PostCode'}, inplace=True)
toronto.head()

  PostCode           Borough                Neighborhood
0      M1A      Not assigned                         NaN
1      M2A      Not assigned                         NaN
2      M3A        North York                   Parkwoods
3      M4A        North York            Victoria Village
4      M5A  Downtown Toronto  Regent Park / Harbourfront

In [5]:
# Ignore cells with a borough that is Not assigned.
toronto=toronto.loc[toronto.Borough != 'Not assigned']
toronto.reset_index(inplace = True, drop = True) 
toronto.head()

  PostCode           Borough                                  Neighborhood
0      M3A        North York                                     Parkwoods
1      M4A        North York                              Victoria Village
2      M5A  Downtown Toronto                    Regent Park / Harbourfront
3      M6A        North York             Lawrence Manor / Lawrence Heights
4      M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [6]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

toronto.loc[(toronto.Neighborhood == 'Not assigned'),'Neighborhood']=toronto.Borough
toronto.head()

  PostCode           Borough                                  Neighborhood
0      M3A        North York                                     Parkwoods
1      M4A        North York                              Victoria Village
2      M5A  Downtown Toronto                    Regent Park / Harbourfront
3      M6A        North York             Lawrence Manor / Lawrence Heights
4      M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [7]:
# combine row  into one row with the neighborhoods separated with a comma

toronto = toronto.groupby(['PostCode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
toronto.set_index('PostCode')
toronto.head()

  PostCode      Borough                              Neighborhood
0      M1B  Scarborough                           Malvern / Rouge
1      M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2      M1E  Scarborough       Guildwood / Morningside / West Hill
3      M1G  Scarborough                                    Woburn
4      M1H  Scarborough                                 Cedarbrae

In [8]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe
print('The DataFrame shape is', toronto.shape)

The DataFrame shape is (103, 3)

In [9]:
 
#add Geo-spatial data
Geospatial_Coordinates_df= pd.read_csv("http://cocl.us/Geospatial_data")
Geospatial_Coordinates_df.rename(columns={'Postal Code':'Postcode'}, inplace=True)
Geospatial_Coordinates_df.set_index('Postcode')

Geospatial_Coordinates_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [10]:
toronto_merged_df = toronto.merge(Geospatial_Coordinates_df, left_index=True, right_index=True)

toronto_merged_df.head()

,PostCode,Borough,Neighborhood,Postcode,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,M1B,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,M1C,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476